<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h2>Verify Email</h2>
    {{if .message}}
        <h4>{{.message}}</h4>
    {{end}}

    <form action="/verifyemail" method="post">
        <label for="email">Email:</label>
        <input type="text" id="email" name="email" value="jane@gmail.com"><br>
        <input type="submit" value="Submit">
    </form>

</body>
</html>