<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h2>Add Movie</h2>

    <form action="/auth/movie" method="post">
        <label for="id">ID:</label><br>
        <input type="text" id="id" name="id" value="4"><br>
        <label for="title">Tilte:</label><br> 
        <input type="text" name="title" id="title" value="Oraz"><br>
        <label for="director">Director:</label><br>
        <input type="text" name="director" id="director" value="test1"><br>
        <label for="price">Price:</label><br>
        <input type="text" name="price" id="price" value="1.1">
        <input type="submit">
    </form>
</body>
</html>